.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 150em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

* {
  margin: 0;
  padding: 0; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#worldmap {
  border: 1px solid black; }

.country {
  fill: #000;
  stroke: #fff;
  stroke-width: 1px; }

.country:hover {
  fill: #666; }

.hidden {
  display: none; }

div.tooltip {
  color: black;
  background-color: #ccc;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.9;
  position: absolute; }
