{% extends "card.html" %}

{% block title %}World map{% endblock %}

{% block contents %}
    <div id="worldmap">
        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 1920 1080">
            <defs>
                <filter id="country_default" primitiveUnits="userSpaceOnUse">
                    <feMorphology in="SourceGraphic" operator="erode" radius="2" />
                </filter>
                <filter id="country_hover">
                    <feMorphology in="SourceAlpha" result="dilated" operator="dilate" radius="6" />
                    <feGaussianBlur in="dilated" result="blurred" stdDeviation="4" />
                    <feFlood flood-color="#000000" flood-opacity=".5" result="flood" />
                    <feComposite in="flood" in2="blurred" result="shadow" operator="in" />
                    <feMerge>
                        <feMergeNode in="shadow" />
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>
        </svg>
    </div>
    <div class="timeline"></div>

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
            <i class="material-icons" style="">arrow_upward</i> Highest
            <div id="highest">
                <ol class="toplist mdl-list"></ol>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
            <i class="material-icons">arrow_downwards</i> Lowest
            <div id="lowest">
                <ol class="toplist mdl-list"></ol>
            </div>
        </div>
    </div>
{% endblock %}