.pcp {
  svg {
    font: 14px sans-serif;
  }

  .countryLine.unselected {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }

  .countryLine {
    fill: none;
    stroke: steelblue;
  }

  .brush .extent {
    fill-opacity: .3;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: white;
    shape-rendering: crispEdges;
    cursor: move;
  }
}