#pcp {
  svg {
    font: 14px sans-serif;
    width: 100%;
    max-height: 30vw;
  }

  .mdl-tooltip {
    position: absolute;
  }

  .mdl-tooltip {
    .flag-icon {
      margin-right: .5em;
    }
  }
  .countryLine {
    fill: none;
    stroke-width: 3;
    stroke-opacity: .75;
  }

  .countryLine.background {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    z-index: -1;
    opacity: 0.1;
  }

  .countryLine.foreground {
    fill: none;
    stroke: #{$divergent-primary};
    shape-rendering: crispEdges;
    cursor: pointer;

    &:hover {
      stroke-width: 6;
      stroke-opacity: 1;
      stroke: #{$divergent-secondary} !important;
    }
  }

  .brush .extent {
    fill-opacity: .3;
    stroke: #000;
    z-index: 5001;
    shape-rendering: crispEdges;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    z-index: 5000;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: white;
    shape-rendering: crispEdges;
    cursor: move;
  }
}