#pcp {
  svg {
    font: 14px sans-serif;
    width: 100%;
    max-height: 30vw;
  }

  .mdl-tooltip {
    position: absolute;
  }

  .mdl-tooltip {
    .flag-icon {
      margin-right: .5em;
    }
  }

  .countryLine.background {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    z-index: -1;
    opacity: 0.1;
  }

  .countryLine.foreground {
    fill: none;
    stroke: steelblue;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill-opacity: .3;
    stroke: #000;
    z-index: 50;
    shape-rendering: crispEdges;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #fff;
    z-index: 5000;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: white;
    shape-rendering: crispEdges;
    cursor: move;
  }
}