#countries-timeseries {
  position: relative;

  .mdl-tooltip {
    position: absolute;
  }
}

svg.timeSeries {
  width: 100%;
  max-height: 30vw;

  .timeSeries__lines {
    path {
      fill: none;
      stroke-width: 4;
      stroke-opacity: .75;
      cursor: pointer;

      &:hover {
        stroke-width: 6;
        stroke-opacity: 1;
      }

      &:nth-child(1) {
        stroke: #{$divergent-primary};
      }

      &:nth-child(2) {
        stroke: #{$divergent-secondary};
      }
    }
  }

  .timeSeries__axis {
    text {
      fill: unquote("rgb(#{$color-white})");
      stroke: none;
    }

    line, path {
      fill: none;
      stroke: unquote("rgb(#{$color-white})");
      stroke-width: 1;
    }
  }

  .legend {
    g {
      &:nth-child(1) {
        line {
          stroke: #{$divergent-primary};
        }
      }

      &:nth-child(2) {
        line {
          stroke: #{$divergent-secondary};
        }
      }

      text {
        font-size: 30px;
        fill: unquote("rgb(#{$color-white})");
      }
    }
  }
}