.toplist {
  & > li:not(:first-child) {
    border-top: solid 1px unquote("rgba(#{$color-white}, 0.2)");
  }

  .mdl-list__item-avatar {
    text-align: center;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 16px;
  }

  li.toplist__position {
    padding: 0 8px;
    transition: all 1s;

    &:hover {
      background-color: unquote("rgba(#{$color-white}, 0.1)");
    }

    ul {
      width: 100%;

      li {
        width: 100%;
        cursor: pointer;

        .toplist__value.mdl-list__item-sub-title {
          display: flex;
          max-width: 300px;

          .toplist__number {
            display: block;
            flex-basis: 50px;
            text-align: right;
          }

          .toplist__meter {
            margin-left: .5em;
            display: block;
            flex-grow: 3;

            span {
              height: 14px;
              margin-top: 2px;
              width: 100%;
              display: block;
              background-color: unquote("rgb(#{$color-primary})");
            }
          }
        }

        .flag-icon, .toplist__meter span {
          transition: all 1s;
        }

        &:hover {
          .flag-icon {
            margin-left: 10px;
          }

          .toplist__value .toplist__meter span {
            background-color: unquote("rgb(#{$color-secondary})");
          }
        }
      }
    }
  }
}