<main id="countriesview" class="mdl-layout__content hidden">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
                {% include "cards/countries-filter.html" %}
            </div>

            <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                {% include "cards/pcp.html" %}
            </div>
        </div>
    </div>
</main>